@import '../../../styles.scss';

.chat-area-container {
    box-shadow: 0 0 5px $main-pink, 0 0 2px $main-pink;
    display: flex;
    flex-direction: column;
    background-color: $chat-area-container;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    animation: crownAppear 0.6s ease forwards;
}

.chat-area {
    background-color: $chat-area-bg;
    color: $chat-area-header;
    user-select: none;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin: 0;
}

.chat-history {
    height: 60vh;
    white-space: nowrap;
    word-wrap: break-word;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 20px;
}

.chat-history::-webkit-scrollbar {
    width: 12px;
}

.chat-history::-webkit-scrollbar-thumb {
    background-color: $main-green;
    border-radius: 15px;
}

.chat-history::-webkit-scrollbar-thumb:active {
    background-color: $hover-green;
}

.chat-text {
    max-width: 270px;
    overflow-x: auto;
    white-space: normal;
}

.message-box {
    max-width: 270px;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 20px;
    position: relative;
    font-size: 1rem;
    line-height: 1.4;
    overflow-x: auto;
    white-space: normal;
    word-wrap: break-word;
    color: $white;
    border: 1px solid $message-box-border;
}
.message-box.sent {
    background-color: $message-sent;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message-box.received {
    background-color: $message-received;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.chat-input {
    background-color: $chat-area-bg;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input input {
    width: 150px;
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: $white;
    background: $chat-area-container;
    margin-right: 10px;
    box-shadow: inset 0 2px 4px $chat-input-shadow;
    outline-color: $white;
    &::placeholder {
        color: #e3e3e3;
    }
}

.error-message {
    color: $error;
    font-size: 0.8rem;
}

.chat-input button {
    width: 90px;
    padding: 10px 20px;
    background-color: $message-sent;
    color: $white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: $message-received;
    }

    &:disabled {
        background-color: $chat-disabled-bg;
        color: $chat-disabled-c;
    }
}
