<div class="select">
    <select [(ngModel)]="newQuestion">
        <option *ngFor="let qcm of listQCM" [ngValue]="qcm">
            {{ qcm.text }}
        </option>
    </select>
</div>

<div class="question">
    <input type="text" placeholder="Question" [(ngModel)]="newQuestion.text">
</div>

<div class="points">
    <input type="number" placeholder="Points" [(ngModel)]="newQuestion.points">
</div>

<h3>Ajouter un choix: </h3>

<div *ngIf="newQuestion">
    <li *ngFor="let choice of newQuestion.choices">
        <app-choice-modification [choice]="choice" [selectedQuestion]="newQuestion"></app-choice-modification>
    </li>
</div>

<div class="add-new-qcm">
    <input class="new-choice-text" type="text" #newChoiceText>
    <input type="checkbox" #newChoiceIsCorrect>
    <button type="button" (click)="addMultipleChoice(newChoiceText.value, newChoiceIsCorrect.checked)">+</button>
</div>

<div class="create-button">
    <button type="button" (click)="saveQCM()">Creer QCM</button>
</div>
