@import '../../../styles.scss';

.create-game{
    background-color: $white;
    padding: 10px;
    border-radius: 15px;
}

.scrollable-list {
    margin: 1%;
    margin-top: 15vmin;
}

.listeGamesVisibleBtn {
    user-select: none;
    vertical-align: top;
    flex: 1;
    margin: 15px;
    height: 40vmin;
    width: 30vmin;
    border-radius: 15px;
    text-align: center;
    font-size: 4vmin;
    color: $white;
    background-color: $main-pink;
    cursor: pointer;
    white-space: normal;
    border: 2px solid $main-green;
    transition: all 0.3s ease;
    animation: dropIn 0.7s ease;
    &:hover {
        background-color: $main-green;
        border: 2px solid $main-pink;
        transform: translateY(-4px);
    }
    &:active {
        background-color: $hover-green;
        border: 2px solid $main-pink;
        transform: translateY(2px);
    }
}

h3 {
    font-size: 2.2vmin;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2%;
    div {
        font-weight: normal;
    }
}

ol {
    font-size: 2.2vmin;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    button {
        margin-left: 1%;
        color: $white;
        border: none;
        padding: 2%;
        border-radius: 5px;
        font-size: 2.2vmin;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    user-select: none;
    padding: 0px !important;
    border-radius: 15px !important;
}

#closeBtn {
    background-color: $red;
    &:hover {
        background-color: $hover-red;
    }
}

#testBtn {
    background-color: $orange;
    &:hover {
        background-color: $hover-orange;
    }
}

#createBtn {
    background-color: $dark-green;
    &:hover {
        background-color: $darker-green;
    }
}
