@use '@angular/material' as mat;
@include mat.core();

/* Animations */
@keyframes dropIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

@keyframes crownAppear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Fonts */
$main-font: 'Roboto';
$chalk-font: 'comic sans ms';

/* Colors */
$main-green: #2fc094;
$hover-green: #21747a;
$main-pink: #891b6d;
$hover-pink: #61255d;
$main-purple: #361047;
$background-purple: rgba(#361047, 0.7);
$white: #fff;
$black: #000000;
$red: #dc3545;
$hover-red: #951d29;
$orange: #ee9b00;
$hover-orange: #8b5e15;
$dark-green: #2b6e34;
$darker-green: #1c4622;
$correct-green: #32CD32;
$incorrect-red: #FF6347;
$grey: #666;
$button-blue: #007bff;
$hover-button-blue: #0259b7;

/* Shadows */
$text-shadow: #ffffff80;
$box-shadow: #00000080;
$background-shadow: #00000052;
$chat-input-shadow: #0000001a;

/* Blackboard */
$bb-border: #d2b48c;
$bb-border-top: #bda27e;
$bb-border-left: #b19876;
$bb-border-bottom: #c9ad86;
$bb-box-shadow1: #3a120d00;
$bb-box-shadow2: #c2a782;
$bb-box-shadow3: #a58e6f;
$bb-box-shadow4: #00000080;
$bb-bg1: #2222224d;
$bb-bg2: #22222280;
$bb-bg3: #33333380;
$bb-bg4: #222;
$bb-bg5: #111;
$bb-bg6: #333333;
$bb-bg7: #333;
$bbb1: #7878781a;
$bbb2: #3232324d;
$bbb3: #5050501a;
$bbb4: #bbb3bb;
$bbbb: #2c2c2c;
$bbbc: #eeeeeeb3;

/* ChatBox */
$chat-area-container: rgba(#9665ac, 0.8);
$chat-area-bg: #bcb3e6;
$chat-area-header: #7014b5;
$message-sent: #7014b5;
$message-received: #a164cf;
$message-box-border: #d5c6dc;
$chat-input: #b7b3e6;
$error: #ff4757;
$chat-disabled-bg: #ccc;
$chat-disabled-c: #666;

/* Images */
$background: url('/assets/background.jpg');
$css-king: url('/assets/css-king.png');

/* Tags */
html,
body {
    height: 100%;
}
body {
    background: $background center/cover fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: $main-green;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: $hover-green;
}

header {
    animation: dropIn 0.5s ease forwards;
}

.scrollable-list {
    box-shadow: 0 0 5px $main-pink, 0 0 2px $main-pink;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: $background-purple;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrollable-list::-webkit-scrollbar {
    width: 12px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    border: 1.5px solid $main-pink;
    background-color: $main-green;
    border-radius: 15px;
}

.scrollable-list::-webkit-scrollbar-thumb:active {
    background-color: $hover-green;
}

app-root{
    height: 100%;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    user-select: none;
    padding: 10px !important;
    border-radius: 15px !important;
    display: block !important;
}