@import '../../../styles.scss';

.add-new-qcm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.new-choice {
  max-width: 80%
}

.qcm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

input[type="checkbox" i] {
  transform: scale(1.8);
  margin: 0;
}

h3 {
  font-size: 2.2vmin;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 2%;
  select {
    width: 30%;
    padding: 10px;
    border: 1px solid $chat-disabled-bg;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  padding: 10px;
  border-radius: 15px !important;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid $chat-disabled-bg;
  border-radius: 5px;
  box-sizing: border-box;
}

.question, .points {
  margin-bottom: 2%;
}

.choice {
  max-width: 60%;
}

button {
  padding: 5px 10px;
  background-color: $button-blue;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
      background-color: $hover-button-blue;
  }
}

mat-dialog-actions {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1%;
}
