@import '../../../styles.scss';

.main-page-container {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

header {
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vmin;
}

.info-project {
    user-select: none;
    justify-content: center;
    width: min-content;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.info-project img {
    width: 23vmin;
    height: auto;
}

.info-project h1 {
    margin-block-start: 0;
    margin-block-end: 0.2em;
    font-size: 9vmin;
    color: $main-green;
    text-shadow: 0 0 10px $text-shadow;
    box-shadow: 0 0 10px $box-shadow;
    transition: background-color 0.3s;
}

.options {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.options button {
    animation: crownAppear 0.5s forwards;
    flex: 1;
    height: 10vmin;
    width: 30vmin;
    border-radius: 15px;
    border: 5px solid $main-green;
    font-size: 5vmin;
    font-family: $main-font;
    color: $main-green;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.options button:hover {
    transform: scale(1.05);
    border-color: $main-pink;
    color: $main-pink;
}

.options button:active {
    transform: scale(0.95);
    border-color: $hover-pink;
    color: $hover-pink;
}

.team-name {
    color: $main-green;
}

.footer-item {
    animation: popIn 0.5s ease forwards;
    font-size: 2vmin;
    user-select: none;
    text-align: center;
    width: 100%;
    color: $hover-green;
}

span{
    position: relative;
}

span:hover::before {
    top: -475px;
    transform: scale(0.3);
    position: absolute;
    opacity: 0;
    animation: crownAppear 4s forwards;
}

span:nth-child(1):hover::before {
    content: $css-king;
    left: -260px;
}

span:nth-child(5):hover::before {
    content: $carry-king;
    left: -300px;
}

span:nth-child(6):hover::before {
    left: -335px;
    content: $scout-king;
}

@keyframes popIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}