@import '../../../styles.scss';

.player-list-container {
    box-shadow: 0 0 5px $main-pink, 0 0 2px $main-pink;
    display: flex;
    flex-direction: column;
    background-color: $chat-area-container;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    animation: crownAppear 0.6s ease forwards;
}