<div class="scrollable-list" *ngIf="roundEndedQuestionPackage.question !== undefined && choices !== undefined">
    <ng-container *ngIf="roundEndedQuestionPackage.question.type === 'QCM'">
        <div *ngFor="let choice of roundEndedQuestionPackage.question.choices; index as choiceId" class="qst">
            <button class="choice" [class.selected]="isChoiceSelected(choice)" (click)="chooseChoice(choiceId)">
                <div class="front">
                    <div class="answer">
                        <div class="choice-number1" [attr.data-number]="choiceId + 1">
                            <ng-container *ngIf="!isChoiceSelected(choice); else selectedChoice">
                                <div>{{ choiceId + 1 }}</div>
                                <div>?</div>
                            </ng-container>
                            <ng-template #selectedChoice>
                                <div>{{ choiceId + 1 }}</div>
                                <div>!</div>
                            </ng-template>
                        </div>
                        {{ choice.text }}
                        <!-- <ng-container *ngIf="roundEndedQuestionPackage.isRoundEnded">{{ choice.isCorrect }} ?</ng-container> -->
                        <div class="choice-number2" [attr.data-number]="choiceId + 1">
                            <ng-container *ngIf="!isChoiceSelected(choice); else selectedChoice">
                                <div>{{ choiceId + 1 }}</div>
                                <div>?</div>
                            </ng-container>
                            <ng-template #selectedChoice>
                                <div>{{ choiceId + 1 }}</div>
                                <div>!</div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <img src="../../../assets/logo.png" alt="Card Image">
                </div>
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="roundEndedQuestionPackage.question.type === 'QRL'">
        <div class="blackboard">
            <input [(ngModel)]="textAnswer" placeholder="Entrez votre réponse..."/>
        </div>
    </ng-container>
</div>

<div class="confirm">
    <button class="confirmbtn" (click)="lockAnswer()" [class.locked]="this['gameService'].isChoiceFinal">Verrouiller votre réponse</button>
</div>
