<div class="scrollable-list" *ngIf="roundEndedQuestionPackage.question !== undefined && choices !== undefined">
    <ng-container *ngIf="roundEndedQuestionPackage.question.type === 'QCM'">
        <div *ngFor="let choice of roundEndedQuestionPackage.question.choices; index as choiceId">
            <button class="choice" [class.selected]="isChoiceSelected(choice)" (click)="chooseChoice(choiceId)">
                <div class="choice-number1" [attr.data-number]="choiceId + 1">
                    <ng-container *ngIf="!isChoiceSelected(choice); else selectedChoice">{{ choiceId + 1 }} ?</ng-container>
                    <ng-template #selectedChoice>{{ choiceId + 1 }} !</ng-template>
                </div>
                {{ choice.text }}
                <ng-container *ngIf="roundEndedQuestionPackage.isRoundEnded">{{ choice.isCorrect }} ?</ng-container>
                <div class="choice-number2" [attr.data-number]="choiceId + 1">
                    <ng-container *ngIf="!isChoiceSelected(choice); else selectedChoice">{{ choiceId + 1 }} ?</ng-container>
                    <ng-template #selectedChoice>{{ choiceId + 1 }} !</ng-template>
                </div>
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="roundEndedQuestionPackage.question.type === 'QRL'">
        <div class="blackboard">
            <input [(ngModel)]="textAnswer" placeholder="Entrez votre réponse..."/>
        </div>
    </ng-container>
</div>

<div class="confirm">
    <button class="confirmbtn" (click)="lockAnswer()" [class.locked]="this['gameService'].isChoiceFinal === true">Lock In Answer</button>
</div>
