<body>
    <app-header></app-header>

    <div class="content-container">
        <div  class="start-container">
            <h1 *ngIf="roomCode" class="room">
                Code d'accès: {{ roomCode }}
            </h1>
    
            <app-waiting-room-list class="waiting-list" [isOrganizer]="isOrganizer"></app-waiting-room-list>
            
            <div class="centered-item" *ngIf="isOrganizer">
                <button class="lock-button" (click)="toggleRoomLock()">
                    {{ roomLocked ? 'Déverrouiller la salle' : 'Verrouiller la salle' }}
                </button>
                <button class="start-button" (click)="startGame()">Commencer la partie</button>
            </div>
        </div>

        <div *ngIf="countdownValue > 0 && gameStarted" class="modal-background">
            <div class="room-timer-display">
                Le jeu commence dans 
                <div class="timer">
                    {{ countdownValue }}
                </div>
                Nom du Quiz : {{ quizName }}
            </div>
        </div>

        <app-chat-box class="chat-box"></app-chat-box>
    </div>
</body>
