<div class="container">
    <span class="truncate">{{ question.text }}</span>
    <button type="button" (click)="deleteQuizQuestion()">-</button>
    <button type="button" (click)="modifyQuestion()">Modifier</button>
    <button type="button" (click)="placeQuestionHigher()">↑</button>
    <button type="button" (click)="placeQuestionLower()">↓</button>
    <button *ngIf="question.type === 'QCM' || question.type === 'QRL'" type="button" (click)="addToBank(question)">Ajouter à la banque</button>
</div>
