<body>
    <app-header></app-header>

    <div class="content-container">
        <ng-container *ngIf="!this.isOrganizer">
            <div class="question-container">
                <app-question-zone
                    class="question-zone"
                    [questionTimePackage]="{ time: this.time, question: this.currentQuestion, isTimeOver: this.isTimeOver}"
                ></app-question-zone>
    
                <app-answer-zone class="answer-zone" [roundEndedQuestionPackage]="{ isRoundEnded: this.isRoundFinished, question: this.currentQuestion, questionIndex: this.questionIndex}" 
                 (qcmFinishedEvent)="calculateScore($event)" (qrlFinishedEvent)="calculateScore($event)"></app-answer-zone>
            </div>
        </ng-container>
        <ng-container *ngIf="this.isOrganizer">
            <app-organizer-view [questionTimePackage]="{ time: this.time, question: this.currentQuestion, currentQuestionIndex: this.questionIndex}"></app-organizer-view>
        </ng-container>
        <app-chat-box class="chat-box"></app-chat-box>
        
        <app-result-popup 
            *ngIf="isRoundFinished"
            [questionBooleanPackage]="{ isAnswerCorrect: isAnswerCorrect, question: this.currentQuestion }" 
            (nextQuestionEvent)="nextQuestion($event)"
        ></app-result-popup>
    </div>
</body>
