<body>
    <app-header></app-header>

    <div class="content-container">
        <div class="question-container">
            <app-question-zone
                class="question-zone"
                [questionTimePackage]="{ time: this.time, question: this.currentQuestion }"
                (endTimerEvent)="calculateScore($event)"
            ></app-question-zone>

            <app-answer-zone class="answer-zone" [currentQuestion]="currentQuestion"
             (qcmFinishedEvent)="calculateScore($event)" (qrlFinishedEvent)="calculateScore($event)"></app-answer-zone>
        </div>
        
        <app-chat-box class="chat-box"></app-chat-box>
        
        <app-result-popup 
            *ngIf="isRoundFinished"
            [questionBooleanPackage]="{ isAnswerCorrect: isAnswerCorrect, question: this.currentQuestion }" 
            (nextQuestionEvent)="nextQuestion($event)"
        ></app-result-popup>
        
    </div>
</body>
