.content-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.question-container {
    grid-column: 1 / span 3;
}

.organizer-container {
    grid-column: 1 / span 3;
}

.chat-box {
    height: 100%;
    grid-column: 4;
}

@media (max-width: 900px) {
    .organizer-container {
        grid-column: 1 / span 4; 
    }
    .question-container {
        grid-column: 1 / span 4;
    }
    .chat-box {
        display: none;
    }
}